# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [1]:
#Exercise 1:
my_list=[x for x in range(100)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
#Exercise 2:
my_tuple=("apple", "banana", "cherry")
print(my_tuple)

('apple', 'banana', 'cherry')

In [5]:
#Exercise 3:
numbers = [10, 20, 30, 40]
numbers=tuple(numbers)
print(numbers)

(10, 20, 30, 40)

In [7]:
#Exercise 4:
my_set=set([1, 2, 3, 4, 5])

print(my_set)

{1, 2, 3, 4, 5}

In [8]:
#Exercise 5:
student={"name":"Alice", "age":20, "grade":"A"}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [11]:
#Exercise 6:
my_list_2=[10, 20, 30, 40, 50] 
print(my_list_2[1])

20

In [14]:
#Exercise 7:
fruits = ["apple", "banana", "cherry", "orange"] 
print(fruits)
fruits[2]="mango"
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'mango', 'orange']

In [15]:
#Exercise 8:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [16]:
#Exercise 9:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}

In [17]:
#Exercise 10:

my_range=range(10)
print(my_range)

range(0, 10)

In [19]:
#Exercise 11:
squares_of_numbers=[x**2 for x in range(1,11)]
print(squares_of_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
#Exercise 12:
my_tuple=(x for x in range(2,11) if x%2==0)
for i in my_tuple:
    print(i)

2
4
6
8
10

In [28]:
#Exercise 13:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [29]:
#Exercise 14:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print("Yes")

Yes

In [30]:
#Exercise 15:
numbers = (10, 20, 30)
print(len(numbers))

3

In [31]:
#Exercise 16:
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

In [44]:
#Exercise 17:

def my_funct(a_list):
    a_list=[float(x) for x in a_list]
    return sum(a_list)
print(my_funct([1,2,3,4,5,6]))

21.0

In [37]:
#Exercise 18:
numbers = [1, 2, 2, 3, 4, 4, 5]
a_set=set(numbers)
print(a_set)

{1, 2, 3, 4, 5}

In [45]:
#Exercise 19:
str_1="hello"
list_str=list(str_1)
print(list_str)

['h', 'e', 'l', 'l', 'o']

In [47]:
#Exercise 20:
my_tuple=(1, 2, 3, 4)
my_tuple=tuple(list(my_tuple)[::-1])
print(my_tuple)

(4, 3, 2, 1)

In [49]:
#Exercise 21:
dict1 = {"a": 1, "b": 2} 
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [53]:
#Exercise 22:

my_dict_3={x:x**2 for x in range(1,6)}
print(my_dict_3)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [57]:
#Exercise 23:
for i in my_dict_3.items():
    print(i)

(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)

In [59]:
#Exercise 24:
my_list_3=[chr(x) for x in range(66,69)]
print(my_list_3)

['B', 'C', 'D']

In [65]:
#Exercise 25:
l_1=[1, 2, 3]  
l_2=["a", "b", "c"]
new_list=zip(l_1,l_2)
for i in new_list:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [66]:
#Exercise 26:
l_3=[10, 20, 30, 40, 50]
ind_50=l_3.index(50)
print(ind_50)

4

In [68]:
#Exercise 27:
names = ["Alice", "Bob", 'Parfait',"Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David', 'Parfait']

In [73]:
#Exercise 28:

def max_fun(l):
    return max(l)

l=[float(input()) for x in range(5)]
print("The mlax is: ",max_fun(l))

4
48
5
3
2
The mlax is:  48.0

In [75]:
#Exercise 29:
fruits = ["apple", "banana", "apple", "orange"]
apples_c=fruits.count("apple")
print(apples_c)

2

In [81]:
#Exercise 30:
person={"name":"Alice","age":25,"city":"New York"}
print(person["city"])

New York

In [84]:
#Exercise 31:
def without_dup(lst):
    return list(set(lst))

without_dup([4,5,5,4,8,9,2,3,2])

[2, 3, 4, 5, 8, 9]

In [1]:
#Exercise 32:

def inter(l_1,l_2):
    new_l=[]
    if len(l_1)>len(l_2):
        for i in l_1:
            if i in l_2:
                new_l.append(i)
    else:
        for i in l_2:
            if i in l_1:
                new_l.append(i) 
                
    return new_l
    
inter([4,5,9,3],[9,4,8,3,32])

[9, 4, 3]

In [2]:
#Exercise 33:
square=[i**2 for i in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Exercise 34:
def sum_from_dic(a_dict):
    sums=0
    for i in a_dict.values():
        sums+=i
    return sums


sum_from_dic({"a":1,"b":5,"c":6,"d":9})

21

In [9]:
#Exercise 35:

list_5 = [3, 1, 4, 1, 5, 9]
list_5=sorted(list_5)
list_5

[1, 1, 3, 4, 5, 9]

In [10]:
# Exercise 36
def longest_string(lst):
    return max(lst, key=len)

longest_string(["Parfait",'CyberAI','ME'])

'Parfait'

In [15]:
# Exercise 37
all(x > 0 for x in [1, 2, 3, 4, 5])

True

In [16]:
# Exercise 38
list_6=[(x, x**2) for x in range(1, 6)]
list_6

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [17]:
# Exercise 39
def second_elements(lst):
    return [x[1] for x in lst]

second_elements([(1,2),(7,6)])

[2, 6]

In [18]:
# Exercise 40
def flatten(lst):
    return [x for sublist in lst for x in sublist]

In [19]:
# Exercise 41
for i, val in enumerate(["apple", "banana", "cherry"]):
    print(i, val)

0 apple
1 banana
2 cherry

In [20]:

# Exercise 42
t = ()
print(len(t) == 0)

t_2 =(1,2)

print(len(t_2) == 0)

True
False

In [21]:
# Exercise 43
evens=[x for x in range(1, 21) if x % 2 == 0]
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
# Exercise 44
def reverse_list(lst):
    return lst[::-1]
reverse_list([7,1,5,2,6])

[6, 2, 5, 1, 7]

In [23]:
# Exercise 45
maping={x: x**3 for x in range(1, 6)}
maping

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [24]:
# Exercise 46
list(set([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [28]:
# Exercise 47
def get_values(lst, key):
    return [d[key] for d in lst if key in d]

get_values([{'a':1,'b':3},{'a':8,'c':8}],'a')

[1, 8]

In [29]:
# Exercise 48
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b
        
fibonacci(5)

In [34]:
# Exercise 49
def unique_chars(s):
    return list(set(s))

unique_chars("Parfait")

['i', 't', 'r', 'a', 'f', 'P']

In [35]:
# Exercise 50
def merge_sorted(l1, l2):
    return sorted(l1 + l2)

merge_sorted([9,4,5],[8,1,6])

[1, 4, 5, 6, 8, 9]

In [38]:
# Exercise 51

list_7=[1, 2, 3, 4, 5, 6]
f=lambda x: x % 2 == 0
list(filter(f,list_7))

[2, 4, 6]

In [40]:
# Exercise 52
def con_dic_lst(lst_dic):
    return dict(lst_dic)
con_dic_lst([(1, 2), (3, 4), (5, 6)])

{1: 2, 3: 4, 5: 6}

In [45]:
def symmetric_diff(s1, s2):
    return s1.symmetric_difference(s2)
print(symmetric_diff({1, 2, 3}, {3, 4, 5}))

{1, 2, 4, 5}

In [46]:
list1, list2, list3 = [1, 2, 3], [2, 3, 4], [3, 4, 5]
print(list(set(list1) & set(list2) & set(list3)))

[3]

In [47]:
# Exercise 55
def factorial(n):
    return 1 if n == 0 else n * factorial(n - 1)
print(factorial(5))

120

In [50]:
# Exercise 56
lst = ["apple", "", "banana", "", "cherry"]
lst=[x for x in lst if x != ""]
lst

['apple', 'banana', 'cherry']

In [53]:
# Exercise 57
def swap_dict(d):
    return {v: k for k, v in d.items()}

print(swap_dict({'a': 1, 'b': 2}))

{1: 'a', 2: 'b'}

In [54]:
# Exercise 58
def even_numbers(lst):
    return [x for x in lst if x % 2 == 0]
print(even_numbers([1, 2, 3, 4, 5]))

[2, 4]

In [55]:
# Exercise 59
def first_elements(lst):
    return [x[0] for x in lst]
print(first_elements([(1, 2), (3, 4), (5, 6)]))

[1, 3, 5]

In [56]:
# Exercise 60
lst = [1, 2, 2, 3, 4, 4, 5]
seen = []
[seen.append(x) for x in lst if x not in seen]
print(seen)

[1, 2, 3, 4, 5]

In [57]:
# Exercise 61
print(list(map(len, ["apple", "banana", "cherry"])))

[5, 6, 6]

In [59]:
# Exercise 62
lst = [10, 20, 30, 40]
print(sum(lst) / len(lst))

25.0

In [60]:
# Exercise 63
def fib_list(n):
    a, b = 0, 1
    seq = []
    for _ in range(n):
        seq.append(a)
        a, b = b, a + b
    return seq
print(fib_list(7))

[0, 1, 1, 2, 3, 5, 8]

In [61]:
# Exercise 64
lst = ["apple", "banana", "apple", "cherry"]
print({x: lst.count(x) for x in set(lst)})

{'banana': 1, 'cherry': 1, 'apple': 2}

In [63]:
# Exercise 65
lst = [1, 2, 3, 2, 4, 2]
value = 2
print([x for x in lst if x != value])

[1, 3, 4]

In [66]:
# Exercise 66
def start_with_vowel(lst):
    vowels = 'aeiou'
    return [x for x in lst if x[0].lower() in vowels]
print(start_with_vowel(["Apple", "banana", "orange", "grape"]))

['Apple', 'orange']

In [67]:
# Exercise 67
set1, set2 = {1, 2, 3}, {2, 3, 4}
print(set1 & set2)

{2, 3}

In [ ]:
#Exercise 68:
Write a Python function that flattens a nested list.

In [68]:

# Exercise 69
def all_unique(lst):
    return len(lst) == len(set(lst))
print(all_unique([1, 2, 3, 4]))

True

In [69]:
# Exercise 70
from functools import reduce
print(reduce(lambda x, y: x * y, [1, 2, 3, 4, 5]))

120

In [71]:
# Exercise 71
def str_len_dict(lst):
    return {s: len(s) for s in lst}
print(str_len_dict(["apple", "banana", "cherry"]))

{'apple': 5, 'banana': 6, 'cherry': 6}

In [72]:
# Exercise 72
s = "education"
print(sum(1 for c in s if c in 'aeiouAEIOU'))

5

In [73]:
# Exercise 73
import math
print([(x, math.factorial(x)) for x in range(1, 6)])

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

In [74]:
# Exercise 74
lst = [{'a': 1}, {'b': 2}, {'c': 3}]
merged = {}
for d in lst:
    merged.update(d)
print(merged)

{'a': 1, 'b': 2, 'c': 3}

In [75]:
# Exercise 75
def is_subset(s1, s2):
    return s1.issubset(s2)
print(is_subset({1, 2}, {1, 2, 3}))

True

In [76]:
# Exercise 76
lst = [(1, 3), (2, 2), (3, 1)]
print(sorted(lst, key=lambda x: x[1]))

[(3, 1), (2, 2), (1, 3)]

In [77]:
# Exercise 77
def positive_numbers(lst):
    return [x for x in lst if x > 0]
print(positive_numbers([-1, 2, -3, 4, 0]))

[2, 4]

In [78]:
# Exercise 78
def union_sets(s1, s2):
    return s1.union(s2)
print(union_sets({1, 2}, {2, 3, 4}))

{1, 2, 3, 4}

In [79]:
# Exercise 79
def product(lst):
    result = 1
    for x in lst:
        result *= x
    return result
print(product([1, 2, 3, 4, 5]))

120

In [80]:
# Exercise 80
lst = ['H', 'e', 'l', 'l', 'o']
print(''.join(lst))

Hello

In [81]:

# Exercise 81
lst = [10, 20, 4, 45, 99]
print(sorted(set(lst))[-2])

45

In [82]:

# Exercise 82
def sorted_keys(d):
    return sorted(d.keys())
print(sorted_keys({'b': 2, 'a': 1, 'c': 3}))

['a', 'b', 'c']

In [98]:
# Exercise 83
l_1=[2,4,2,6]
l_2=set(l_1)
dic={l_1.count(i):i for i in l_2}
dic[max(dic)]

2

In [99]:

# Exercise 84
def sort_by_first(lst):
    return sorted(lst, key=lambda x: x[0])
print(sort_by_first([(3, 4), (1, 2), (2, 5)]))

[(1, 2), (2, 5), (3, 4)]

In [100]:
# Exercise 85
lst = [{'a': 1}, {'b': 2}, {'a': 1}]
unique = [dict(t) for t in {tuple(d.items()) for d in lst}]
print(unique)

[{'b': 2}, {'a': 1}]

In [101]:
def min_max(lst):
    return min(lst), max(lst)
print(min_max([3, 5, 1, 9, 2]))

(1, 9)

In [102]:
# Exercise 87
l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
print(list(zip(l1, l2)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [104]:
# Exercise 88
def reverse_strings(lst):
    return [s[::-1] for s in lst]
print(reverse_strings(["apple", "banana", "cherry"]))

['elppa', 'ananab', 'yrrehc']

In [105]:
# Exercise 89
def sum_odd(lst):
    return sum(x for x in lst if x % 2 != 0)
print(sum_odd([1, 2, 3, 4, 5]))

9

In [106]:
# Exercise 90
s = "madam"
print(s == s[::-1])

True

In [107]:
# Exercise 91
lst = [1, 3, 5, 7, 9]
lst.sort()
n = len(lst)
print(lst[n//2] if n % 2 != 0 else (lst[n//2 - 1] + lst[n//2]) / 2)

5

In [108]:
# Exercise 92
def sum_dicts(lst):
    result = {}
    for d in lst:
        for k, v in d.items():
            result[k] = result.get(k, 0) + v
    return result
print(sum_dicts([{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]))

{'a': 4, 'b': 6}

In [109]:
# Exercise 93
from statistics import mode
lst = [1, 2, 2, 3, 3, 3, 4]
print(mode(lst))

3

In [110]:
# Exercise 94
def sum_squares(lst):
    return sum(x**2 for x in lst)
print(sum_squares([1, 2, 3, 4, 5]))

55

In [111]:
# Exercise 95
print([(x, x**3) for x in range(1, 6)])

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [112]:
# Exercise 96
def primes_up_to(n):
    primes = []
    for x in range(2, n + 1):
        if all(x % p != 0 for p in range(2, int(x**0.5) + 1)):
            primes.append(x)
    return primes
print(primes_up_to(20))

[2, 3, 5, 7, 11, 13, 17, 19]

In [113]:
# Exercise 97
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 4, 'c': 5, 'd': 6}
print(set(d1.keys()) & set(d2.keys()))

{'b', 'c'}

In [114]:
# Exercise 98
def long_strings(lst):
    return [s for s in lst if len(s) > 5]
print(long_strings(["apple", "banana", "cherry", "fig"]))

['banana', 'cherry']

In [115]:
# Exercise 99
lst = ["apple", "banana", "cherry"]
print([(s, len(s)) for s in lst])

[('apple', 5), ('banana', 6), ('cherry', 6)]

In [8]:
# Exercise 99
def merge_sum_dicts(lst):
    result = {}
    for d in lst:
        for k, v in d.items():
            result[k] = result.get(k, 0) + v
    return result

print(merge_sum_dicts([{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c': 5}]))

{'a': 4, 'b': 6, 'c': 5}

In [9]:
?dict.get